
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#gameName {
    text-emphasis: bold;
    font-size: 60px;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 20%;
    max-width: 80%;
    padding: 0 7px;
  }

  .columnGames {
    flex: 20%;
    max-width: 20%;
    padding: 0 7px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  .header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 40%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th {
    cursor: pointer;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
